*.mat
CLData/AP04-CAM-01-XT-CLOSED.txt
CLData/AP04-CAM-02-XT-CLOSED.txt
CLData/AP04-CAM-03-XT-CLOSED.txt
CLData/AP04-CAM-04-XT-CLOSED.txt
CLData/AP04-CAM-05-XT-CLOSED.txt
CLData/AP04-CAM-06-XT-CLOSED.txt
CLData/AP04-CAM-07-XT-CLOSED.txt
CLData/AP04-CAM-08-XT-CLOSED.txt
